<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tob Bot!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
    <!-- import typography cdn tailwindcss plugin -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body class="font-sans dark:invert">
    <div class="container mx-auto">
        <div class="flex flex-wrap items-center">
            <div class="p-4 ">
                <h1 class="text-3xl">Tob Bot!</h1>
                <h2 class="text-base font-bold">Hello World!</h2>
            </div>
        </div>
        <div class="container">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 p-3">
                    <div class="bg-white rounded shadow-md">
                        <div class="p-4">
                            <h2 class="text-base font-bold">
                                <a href="#about">Sobre Mim</a>
                            </h2>
<!--                             <p class="text-gray-700 text-base">
                                <a href="#dev">Por trás dos panos</a>
                            </p>
                            <p class="text-gray-700 text-base">
                                <a href="#patch-notes">As ultimas atualizações</a>
                            </p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flow-root">
                <!-- sobre mim -->
                <div class="w-full md:w-1/2 p-3">
                    <div class="bg-white rounded shadow-md">
                        <div class="p-4">
                            <h2 class="text-2xl font-bold">
                                <a href="#about">Sobre Mim</a>
                            </h2>
                            <p class="text-gray-700 text-base">
                                Olá, meu nome é <strong>Tobias</strong>, me chamam de Tob;
                              quando jovem nasci e cresci no Canadá até os meus 7 anos, mas vim para o Brasil. No Brasil a minha mãe me deu um irmão, o nome dele é Obor!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>